* {
    font-size:16ems;
    line-height: 1.5;
    color:seagreen;
    font-family: 'Exo 2', sans-serif;
}

h2 {
    font-size: 150%;
    color: black;
}

/* display property to hide parts of the page, dynamically changed by Javascript */
#starter {
    display:flex;
}
#question-card, #finished, #high-scores-card {
    display:none; 
    /* switch back to display:none after testing */
}

#question-card, #starter, #finished, #high-scores-card {
    width: 60%;
    flex-direction: column;
    justify-content:flex-start;
    background-color:aquamarine;
    margin:5px;
    
}

.content {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    padding:2px;
    margin: 2px;
}

.content button{
    padding:4px;
    margin: 4px;
}
.centering {
    display:flex;
    justify-content:center;
    align-items:center;
}


